AIF.WMS/Web References/AIFCrystalWS/AIFCRYSTALSERVICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PdfOlustur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Crystal_Adi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametrelers" type="tns:ArrayOfParametreler" />
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sa_Sifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Olusturulacak_Pdf_Adi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParametreler">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="parametreler" nillable="true" type="tns:parametreler" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="parametreler">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="sira" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="parametreDegeri" />
        </s:sequence>
      </s:complexType>
      <s:element name="PdfOlusturResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PdfOlusturResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GunSonuRaporu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db_Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Baslangic_Tarihi" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Bitis_Tarihi" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Sube_Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Crystal_Adi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sa_Sifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Olusturulacak_Pdf_Adi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GunSonuRaporuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GunSonuRaporuResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SatisCalisaniRaporu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db_Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Baslangic_Tarihi" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Sube_Adi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Crystal_Adi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sa_Sifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Olusturulacak_Pdf_Adi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SatisCalisaniRaporuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SatisCalisaniRaporuResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PdfOlusturSoapIn">
    <wsdl:part name="parameters" element="tns:PdfOlustur" />
  </wsdl:message>
  <wsdl:message name="PdfOlusturSoapOut">
    <wsdl:part name="parameters" element="tns:PdfOlusturResponse" />
  </wsdl:message>
  <wsdl:message name="GunSonuRaporuSoapIn">
    <wsdl:part name="parameters" element="tns:GunSonuRaporu" />
  </wsdl:message>
  <wsdl:message name="GunSonuRaporuSoapOut">
    <wsdl:part name="parameters" element="tns:GunSonuRaporuResponse" />
  </wsdl:message>
  <wsdl:message name="SatisCalisaniRaporuSoapIn">
    <wsdl:part name="parameters" element="tns:SatisCalisaniRaporu" />
  </wsdl:message>
  <wsdl:message name="SatisCalisaniRaporuSoapOut">
    <wsdl:part name="parameters" element="tns:SatisCalisaniRaporuResponse" />
  </wsdl:message>
  <wsdl:portType name="AIFCRYSTALSERVICESoap">
    <wsdl:operation name="PdfOlustur">
      <wsdl:input message="tns:PdfOlusturSoapIn" />
      <wsdl:output message="tns:PdfOlusturSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GunSonuRaporu">
      <wsdl:input message="tns:GunSonuRaporuSoapIn" />
      <wsdl:output message="tns:GunSonuRaporuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SatisCalisaniRaporu">
      <wsdl:input message="tns:SatisCalisaniRaporuSoapIn" />
      <wsdl:output message="tns:SatisCalisaniRaporuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AIFCRYSTALSERVICESoap" type="tns:AIFCRYSTALSERVICESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PdfOlustur">
      <soap:operation soapAction="http://tempuri.org/PdfOlustur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GunSonuRaporu">
      <soap:operation soapAction="http://tempuri.org/GunSonuRaporu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SatisCalisaniRaporu">
      <soap:operation soapAction="http://tempuri.org/SatisCalisaniRaporu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AIFCRYSTALSERVICESoap12" type="tns:AIFCRYSTALSERVICESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PdfOlustur">
      <soap12:operation soapAction="http://tempuri.org/PdfOlustur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GunSonuRaporu">
      <soap12:operation soapAction="http://tempuri.org/GunSonuRaporu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SatisCalisaniRaporu">
      <soap12:operation soapAction="http://tempuri.org/SatisCalisaniRaporu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AIFCRYSTALSERVICE">
    <wsdl:port name="AIFCRYSTALSERVICESoap" binding="tns:AIFCRYSTALSERVICESoap">
      <soap:address location="https://localhost:44376/AIFCRYSTALSERVICE.asmx" />
    </wsdl:port>
    <wsdl:port name="AIFCRYSTALSERVICESoap12" binding="tns:AIFCRYSTALSERVICESoap12">
      <soap12:address location="https://localhost:44376/AIFCRYSTALSERVICE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>